@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
body {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.397);
    font-family: 'Jost', sans-serif;
}

button {
    margin: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#url-input {
    border: 2px solid black;
    width: 20vw;
    font-size: 17px;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: width 600ms ease-in-out;
}

#url-input:focus {
    width: 60vw;
    outline: none;
}

i.material-icons {
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-size: 35px;
}

#seekbar {
    width: 50vw;
}

.material-icons {
    font-size: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.url {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}